{% extends "dashboard.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload images</title>
    <link rel="stylesheet" href="{% static 'css/document.css' %}">
</head>
<body>
  <form action="#" method="POST">
    {% csrf_token %}
<div class="form">
    <div class="grid">
      <div class="box">
        <h3 dir="rtl">صورة عن الشهادة</h3>
        <br>
      <div class="form-element">
        <input type="file" id="file-1" name="imgper" accept="image/*">
        <label for="file-1" id="file-1-preview">
          <img src="{% static 'image/profile.jpg' %}" alt="">
          <div>
            <span>+</span>
          </div>
       </label>
      </div>
    </div>
      <div class="box">
        <h3 dir="rtl">صورة عن الهوية</h3>
        <br>
      <div class="form-element">
        <input type="file" id="file-2" name="imgid" accept="image/*">
        <label for="file-2" id="file-2-preview">
          <img src="{% static 'image/profile.jpg' %}" alt="">
          <div>
            <span>+</span>
          </div>
        </label>
      </div>
    </div>
      <div class="box">
        <h3 dir="rtl">صورة شخصية</h3>
        <br>
      <div class="form-element">
        <input type="file" id="file-3" name="imgcer" accept="image/*">
        <label for="file-3" id="file-3-preview">
          <img src="{% static 'image/profile.jpg' %}" alt="">
          <div>
            <span>+</span>
          </div>
        </label>
      </div>
    </div>
    </div>
  </div>
      <div class="button">
          <input type="submit" value="save images">
        </div>
</form> 
  <script src="{% static 'js/document.js' %}"></script>
</body>
</html>
{% endblock content %}