{% extends "dashboard.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload images</title>
    <link rel="stylesheet" href="{% static 'css/document.css' %}">
</head>
<body>
<div class="form">
     <div class="grid">
      <div class="box">
        <h3 dir="rtl">صورة عن الشهادة</h3>
        <br>
      <div class="form-element">
{#        <input type="file" id="file-1" name="imgper" accept="image/*">#}
        <label for="file-1" id="file-1-preview">
          <img id="id_imgper_img" src="{% static 'image/profile.jpg'%}" alt="">
          <div>
            <span>+</span>
          </div>
       </label>
      </div>
    </div>
      <div class="box">
        <h3 dir="rtl">صورة عن الهوية</h3>
        <br>
      <div class="form-element">
{#        <input type="file" id="file-2" name="imgid" accept="image/*">#}
        <label for="file-2" id="file-2-preview">
          <img id="id_imgid_img" src="{% static 'image/profile.jpg'%}" alt="">
          <div>
            <span>+</span>
          </div>
        </label>
      </div>
    </div>
      <div class="box">
        <h3 dir="rtl">صورة شخصية</h3>
        <br>
      <div class="form-element">
{#        <input type="file" id="file-3" name="imgcer" accept="image/*">#}
        <label for="file-3" id="file-3-preview">
          <img id="id_imgcer_img" src="{% static 'image/profile.jpg'%}" alt="">
          <div>
            <span>+</span>
          </div>
        </label>
      </div>
    </div>
    </div>
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        <div style="margin-top: 20px;display: flex;place-content: space-between;align-items: center;flex-flow: row;    padding-left: 50px;">
            {{ form.as_p }}
        </div>

        <button type="submit" style="width: 150px; margin-top: 40px; background: #1d1055; padding: 5px; border-radius: 4px; display: block; margin: auto; margin-top: 40px"><span style="color: white">Upload</span></button>
    </form>
</div>
<script>

    const images = {};
    function previewBeforeUpload(id){
    document.querySelector("#"+id).addEventListener("change",function(e){
        console.log(e.target.files.length)
      if(e.target.files.length == 0){
        return;
      }
      let file = e.target.files[0];
      const url = URL.createObjectURL(file);
      // document.querySelector("#"+id).innerText = file.name;
      document.getElementById(id+'_img').src = url;
    });
  }
  previewBeforeUpload('id_imgper')
  previewBeforeUpload('id_imgid')
  previewBeforeUpload('id_imgcer')
</script>
</body>
</html>
{% endblock content %}